.main-list{
    width: 7vh;
    display: inline-block;
}
.main-list:nth-child(2){
    width: 90vh;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #1A2427;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #1A2427;
  display: block;
    padding-left: 5px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #79878B;
    cursor: pointer;
}